<!-- See Hartl Listing 3.28 -->
<% provide(:title, 'About') %>
<h1>Weekly Report Tracker</h1>
<h2>
  </br>
  The intent of this application is to allow companies to efficiently 
  track </br>weekly reports created by members of the company.
</h2>
